* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.monkey {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(26, 6, 6)),
    url(images.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 10px;
}
form {
  width: 100vw;
  max-width: 600px;
}
.input {
  margin-bottom: 30px;
  position: relative;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.3s;
}
button {
  padding: 10px 0;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
  margin-left: 10px;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}
.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-indent: 10px;
  width: 100%;
}
.left-side.input {
  flex-basis: 48%;
}
